*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family:'Poppins', sans-serif;
	font-size: 13pt;
	line-height: 1.6;
	color: #e1e0e6;
	background-color: #0a1b46;
}

/* RESPONSIVE IMAGES */
img {
	max-width: 100%;
	height: auto;
	display: block;
}

/* LINK RESET */
a {
	color: inherit;
	text-decoration: none;
}

/* Menu */
.topmenu {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100vw;
  background-color: #7789b3;
  color: #152f70;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  z-index: 999;
  transition: top 0.3s ease-in-out; 
}

.menutitle {
  font-size: 13pt;
}

.menuoptions {
  display: flex;
  gap: 40px;
}

.menuoptions a {
  color: #e1e0e6;
  text-decoration: none;
  font-size: 13pt;
  transition: color 0.3s ease;
}

.menuoptions a:hover {
  color: #152f70;
}

.topmenu.show {
  top: 0;
}

/* First Section */
h3, p {
  margin: 0;
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 40px;
  text-align: left;
}

.herobg {
  position: absolute;
  inset: 0;
  background-image: url('https://ik.imagekit.io/ruiminpiao/portfolio%20template/1.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.herocontent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding-left: 25px;
  padding-right: 25px;
}

.herotext {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.herotext h3 {
  font-size: 40pt;
  color: #7789b3;
  line-height: 1.1 ;
  white-space: pre-wrap;
  align-items: baseline;
}

.cactus-classical-serif-regular {
  font-family: "Cactus Classical Serif", serif;
  font-weight: 500;
  font-style: italic;
}

.herotext p {
  font-size: 10pt;
  color: #152f70;
  margin-top: 30px;
  font-weight: 400;
  line-height: 1.2;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.herotext p.show {
  opacity: 1;
  transform: translateY(0);
}

.herobutton {
  margin-top: auto;
  align-self: flex-start; 
  padding: 12px 28px;
  font-size: 10pt;
  color: #152f70;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #7789b3;
  border-radius: 10px;
  border: 0px solid;
  font-style: italic;
  font-weight: 500;
}

.herobutton:hover {
  background-color: #152f70;
  color: #e1e0e6;
}

.heroimages {
  flex: 1;
  position: relative;
  height: 400px;
  margin-right: 40px;
}

.heroimages img {
  cursor: grab;
  position: absolute;
  transition: transform 0.1s linear;
}

/* Second Section */
.projects {
  padding: 150px 40px;
  padding-bottom: 80px;
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 200px); 
  grid-gap: 20px;
}

.card {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: #e1e0e6;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  transition: transform 0.3s ease;
}

.card h3 {
  margin: 0;
  font-size: 17pt;
  z-index: 2;
  text-shadow: 0 2px 8px rgba(21, 47, 112, 0.8);
}

.cardoverlay {
  position: absolute;
  inset: 0;
  background-color: rgba(59, 83, 139, 0.6);
  color: #e1e0e6;
  opacity: 0;
  padding: 20px;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  font-size: 12pt;
  font-weight: 300;
  transition: opacity 0.3s ease;
}

.card:hover .cardoverlay {
  opacity: 1;
}

.card:hover h3 {
	opacity: 0;
}

.card.big {
  grid-column: 1 / 2;
  grid-row: 1 / 3; 
}

.card.small:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.card.small:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/* Third Section */
.about {
  padding: 100px 40px;
  padding-bottom: 0px;
}

.aboutcontent {
  width: 90vw;
  height: 100vh;
  margin: auto;
  display: flex;
  gap: 80px;
  align-items: center;
}

.aboutimages {
  width: 280px;
  position: relative;
  width: 45vw;
  height: 100vh;
  margin-left: 40px;
}

.aboutimg {
  position: absolute;
  width: 260px;
  transition: transform 0.4s ease;
}

.aboutimages:hover .img1 {
  transform: translate(-20px, -20px) rotate(-8deg);
}

.aboutimages:hover .img2 {
  transform: translate(0, 10px) rotate(6deg);
}

.aboutimages:hover .img3 {
  transform: translate(30px, -10px) rotate(-4deg);
}

.aboutimages:hover .img4 {
  transform: translate(-30px, -10px) rotate(-2deg);
}

.abouttext {
	width: 45vw;
	height: 100vh;
	margin-left: 80px;
	align-items: left;
	text-align: left;
	justify-items: left;
	justify-content: left;
}

.abouttext h3 {
  font-size: 26pt;
  margin-bottom: 10px;
}

.abouttext p {
  font-size: 12pt;
  line-height: 1.2;
  font-weight: 300;
  color: #e1e0e6;
}

/* Fourth Section */
.contact {
  padding: 0px 40px;
  padding-bottom: 80px;
}

.contactcontent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 150px;
  align-items: stretch;
  margin-left: 40px;
}

.contactbox,
.contactmedia {
  flex: 1;
}

.contactbox h3 {
  font-size: 26pt;
  margin-bottom: 10px;
}

.contactform {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactform input,
.contactform textarea {
  width: 100%;
  padding: 14px 16px;
  font-family: inherit;
  font-size: 10pt;
  border: 0px solid #0a1b46;
  border-radius: 10px;
  background: transparent;
  outline: none;
  background-color: #3b538b;
}

.contactform textarea {
  min-height: 160px;
  resize: none;
}

.contactform ::placeholder {
  color: #152f70;
}

.contactform input,
.contactform textarea {
  color: #e1e0e6;
}


.contactform input:focus,
.contactform textarea:focus {
  border-color: #3b538b;
}

.contactform button {
  margin-top: 10px;
  align-self: flex-start;
  padding: 12px 28px;
  font-size: 10pt;
  font-family: inherit;
  background-color:#3b538b;
  border: 0px solid;
  border-radius: 10px;
  color: #e1e0e6;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contactform button:hover {
  background-color: #e1e0e6;
  color: #152f70;
}

.contactmedia {
  display: flex;
  align-items: center;
}

.socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1.1;
  margin-left: 15px;
}

.socials a {
  text-decoration: none;
  font-size: 12pt;
  color: #3b538b;
  transition: opacity 0.3s ease;
}

.socials a:hover {
  opacity: 1;
  color: #e1e0e6;
  text-decoration: underline;
}

/* Responsiveness */
@media (max-width: 769px) and (min-width: 491px) {
  .menutitle,
  .menuoptions a {
    font-size: 10pt;
  }

  .menuoptions {
    gap: 23px;
  }

  .menutitle {
    opacity: 0;
    top: -100px;
  }

  body {
    font-size: 10pt;
  }

  .herocontent {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  .herotext h3 {
    font-size: 35pt;
    margin-bottom: 0;
  }

  .herotext p {
    font-size: 10pt;
    margin-bottom: 40px;
  }

  .herobutton {
    font-size: 10pt;
  }

  .heroimages {
    width: 0%;
  }

  .heroimages img {
    opacity: 0;
  }

  .herobg {
    width: 100vw;
  }

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card {
    width: 80vw;
    height: 260px;
  }

  .card.big,
  .card.small {
    grid-column: auto;
    grid-row: auto;
  }

  .card h3 {
    font-size: 13pt;
  }

  .cardoverlay {
    font-size: 10pt;
  }

  .abouttext h3 {
    font-size: 22pt;
  }

  .abouttext p {
    font-size: 10pt;
  }

  .abouttext {
    margin-top: 400px;
  }

  .aboutcontent {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    width: 90vw;
  }

  .aboutimages {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .aboutimg {
    width: 50%;
  }
  
  .aboutimages:hover .img1, 
  .aboutimages:hover .img2,
  .aboutimages:hover .img3,
  .aboutimages:hover .img4 {
    transform: none;
  }

  .contact {
    margin-top: 300px;
    padding: 0 20px 80px;
  }

  .contactcontent {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-left: 0;
  }

  .contactbox,
  .contactmedia {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contactbox h3 {
    font-size: 20pt;
  }

  .contactform {
    width: 100%;
    align-items: center;
  }

  .contactform input,
  .contactform textarea {
    width: 80vw;
    font-size: 10pt;
  }

  .contactform button {
    font-size: 10pt;
    align-self: center;
  }

  .socials {
    margin-left: 0;
    align-items: center;
  }

  .socials a {
    font-size: 10pt;
  }
}

@media (max-width: 490px) {
  .menuoptions {
    gap: 35px;
  }

  .topmenu {
    padding: 16px 20px;
  }
  
  .menutitle {
    opacity: 0;
    top: -100px;
  }

  .menutitle,
  .menuoptions a {
    font-size: 8pt;
  }

  body {
    font-size: 8pt;
  }

  .herocontent {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  .herotext h3 {
    font-size: 25pt;
    margin-bottom: 0;
  }

  .herotext p {
    font-size: 8pt;
    margin-bottom: 40px;
  }

  .herobutton {
    font-size: 8pt;
    padding: 10px 22px;
  }

  .heroimages {
    width: 0%;
  }

  .heroimages img {
    opacity: 0;
  }

  
  .projects {
    padding: 100px 20px 60px;
  }

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card {
    width: 80vw;
    height: 220px;
    padding: 16px;
  }
  .card.big,
  .card.small {
    grid-column: auto;
    grid-row: auto;
  }

  .card h3 {
    font-size: 10pt;
  }

  .cardoverlay {
    font-size: 8pt;
  }

  .abouttext h3 {
    font-size: 16pt;
  }

  .abouttext p {
    font-size: 8pt;
  }

  .abouttext {
    margin-top: 400px;
  }

  .aboutcontent {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    width: 90vw;
  }

  .aboutimages {
    width: 100%; 
    margin-left: 0;
  }

  .aboutimg {
    width: 60%;
  }

  .aboutimages:hover .img1, 
  .aboutimages:hover .img2,
  .aboutimages:hover .img3,
  .aboutimages:hover .img4 {
    transform: none;
  }

  .contact {
    margin-top: 180px;
    padding: 0 16px 60px;
  }

  .contactcontent {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-left: 0;
  }

  .contactbox,
  .contactmedia {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contactbox h3 {
    font-size: 16pt;
  }

  .contactform {
    width: 100%;
    align-items: center;
  }

  .contactform input,
  .contactform textarea {
    width: 80vw;
    font-size: 8pt;
  }

  .contactform textarea {
    min-height: 140px;
  }

  .contactform button {
    font-size: 8pt;
    align-items: center;
  }

  .socials {
    margin-left: 0;
    align-self: center;
  }

  .socials a {
    font-size: 9pt;
  }
}