/* Menu */
.topmenup {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  background-color: #7789b3;
  color: #152f70;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  z-index: 999;
}

.menutitlep {
  font-size: 13pt;
}

.menuoptionsp {
  display: flex;
  gap: 40px;
}

.menuoptionsp a {
  color: #e1e0e6;
  text-decoration: none;
  font-size: 13pt;
  transition: color 0.3s ease;
}

.menuoptionsp a:hover {
  color: #152f70;
}

/* One Section */
.pjtitle h3 {
    font-size: 40pt;
    margin-top: 0px;
    margin-bottom: 40px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: #e1e0e6;
}

.projects2 {
  padding: 100px 40px;
  padding-bottom: 80px;
  max-width: 1200px;
  margin: 0 auto;
}

.grid2 {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.card2 {
  position: relative;
  height: 320px;
  padding: 20px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: #e1e0e6;
  text-shadow: 0 2px 8px rgba(21, 47, 112, 0.8);
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card2 h3 {
  margin: 0;
  font-size: 17pt;
  z-index: 2;
}

.cardoverlay2 {
  position: absolute;
  inset: 0;
  background-color: rgba(59, 83, 139, 0.6);
  color: #e1e0e6;
  opacity: 0;
  padding: 20px;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  font-size: 12pt;
  font-weight: 300;
  transition: opacity 0.3s ease;
}

.card2:hover .cardoverlay2 {
  opacity: 1;
}

.card2:hover h3 {
	opacity: 0;
}

.card2:hover {
  transform: translateY(-4px);
}

/* Responsiveness */
@media (max-width: 769px) {
  .grid2 {
    grid-template-columns: 1fr;
  }

  .card2 {
    height: 280px;
  }
}

@media (max-width: 768px) and (min-width: 491px) {
  .pjtitle h3 {
    font-size: 22pt;
  }

  .menutitlep,
  .menuoptionsp a {
    font-size: 10pt;
  }

  .menuoptionsp {
    gap: 23px;
  }

  .menutitlep {
    opacity: 0;
    top: -100px;
  }

  .card2 h3 {
    font-size: 13pt;
  }

  .cardoverlay2 {
    font-size: 10pt;
  }
}

@media (max-width: 490px) {
  .pjtitle h3 {
    font-size: 16pt;
  }

  .menuoptionsp {
    gap: 35px;
  }

  .topmenup {
    padding: 16px 20px;
  }
  
  .menutitlep {
    opacity: 0;
    top: -100px;
  }

  .menutitlep,
  .menuoptionsp a {
    font-size: 8pt;
  }

  .card2 h3 {
    font-size: 10pt;
  }

  .cardoverlay2 {
    font-size: 8pt;
  }
}